body {
 margin:0;
 padding:0;
}

header{
  border-bottom: solid black 2px;
  
}

img{
  display: block;
  margin: auto;
}

.table{
  text-align: center;
  width: 100%;
  height: 300px;
  overflow: auto;
}



